<div class="body">
<h2>About Us</h2>
<p>Our project is based on converter, which can be accessed by all age groups and We give you the power of our most up
   to date, reputable currency information and offer you secure, reliable, easy to use products and services dedicated
   to making your life easier.</p>
<p>The calculators on this site were grouped into 3 sections: Currency converter,Calculator, Meter converter.
</p>

<div>Our calculators take only seconds to use and give you precisely the numbers you need.</div>

<p>This project includes!</p>
1. Currency Converter <br>
2. Calculator <br> 
3. Meter Converter <br>
<h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Currency converter includes</h3>
<div class="container">

   <div><img src="/assets/bg2.jpg" height="350" width="350"></div>
   <div class="cc">
      In currency converter user has to select which conversion they want, it can be coverted from Rupee to Dollars. And
      we guides savers and spenders through the next steps of their financial journey. Whether you’re buying a home,
      paying off a loan or saving up for college, we offer free tools and resources to help you reach your goals.
      If you're not careful, currency conversion fees can cost more than you expect. To get the best bang for your U.S.
      dollar abroad, update your knowledge of currency exchange.
      Simply input your amount in the currency calculator above, select your source and destination currency and our
      tool will convert your currency at the mid-market rate (that’s the one you’ll find on Google).
   </div>
</div>
<h3>Calculator includes</h3>
<div class="calc">
   <div>
      <img src="/assets/bg1.jpg" height="350" width="400" align="right">
      This includes simple calculator and in this, one can do simple Addition, substraction, Multiplication, Division.
      Calculator.net's sole focus is to provide fast, comprehensive, convenient, free online calculators in a plethora
      of areas. Currently, we have around 200 calculators to help you "do the math" quickly in areas such as finance,
      fitness, health, math, and others, and we are still developing more. <br>Our goal is to become the one-stop, go-to
      site for people who need to make quick calculations. Additionally, we believe the internet should be a source of
      free information. Therefore, all of our tools and services are completely free, with no registration required.<br>
      We coded and developed each calculator individually and put each one through strict, comprehensive testing.
      However, please inform us if you notice even the slightest error – your input is extremely valuable to us. While
      most calculators on Calculator.net are designed to be universally applicable for worldwide usage, some are for
      specific countries only. For example, the Income Tax Calculator is for United States residents only.
      Right now we Are availaible with 3 Calculators We will Built other calculator Website As soon as Possible.
   </div>
</div>

<h3>Meter Converter</h3>
<div class="container">
   <div>
      <img src="/assets/10.jpeg" height="350" width="450">
   </div>
   <div class="unit">
      The main purpose of this website is to provide a comprehensive collection of free online unit converters for the
      ease of public use.
      In Meter converter user has to select which converter the user want, it has conversions like meter to
      centimeter,meter to <br> kilometer.
      Since 1983, the metre has been officially defined as the length of the path travelled by light in a vacuum during
      a time interval of 1/299,792,458 of a second.
      A decimal-based unit of measurement had been proposed as early as the late 17th century, with the name metre being
      derived from the Greek métron katholikón, meaning 'universal measure'.<br>
      An early definition of a metre was "the length of a pendulum with a half-period of one second" By the 18th century
      a definition based on "one ten-millionth of the length of the Earth's meridian along one quadrant" (the distance
      from the equator to the North Pole) was gaining favour, and this was the accepted definition when France adopted
      the metric system in 1795.
   </div>
</div>
<br><br>
<div class="part">
   Join us by
   <br><br>
   <a href="https://facebook.com/"><img src="/assets/4.png" height="35" width="35"></a> &nbsp;
   <a href="https://twitter.com/"><img src="/assets/5.png" height="35" width="35"></a>&nbsp;
   <a href="https://instagram.com/"><img src="/assets/6.png" height="35" width="35"></a>&nbsp;
   <br><br>
   &copy;Web Developers.2021 All Rights Reserved
   <br><br>
</div>
</div>