<h2>About Us</h2>
<div class="main">

   <p>--> Our project is based on converter, which can be accessed by all age groups. <br>
      We give you the power of our most up to date, reputable currency information and offer you secure, reliable, easy
      to use products
      and services dedicated to making your life easier.</p>
   <p>--> The calculators on this site were grouped into 3 sections: Currency converter, Calculator, Meter converter.
      <br> All of
      the calculators were developed in-house. <br> Some calculators use open-source JavaScript components under
      different
      open-source licenses. More than 90% of the calculators are based on well-known formulas or equations from
      textbooks. <br>
      If formulas are controversial, we provide the results of all popular formulas, as can be seen in the Ideal Weight
      Calculator.
   </p>
   &nbsp;
   <p>--> This project includes!</p>

   1. Currency Converter <br>
   2. Calulator <br>
   3. Meter Converter <br>

   <h3>Currency converter includes</h3>
   <p>In currency converter user has to select which conversion they want, it can be coverted from Rupee to Dollars.</p>
   <h3>Calculator includes</h3>
   <p>This includes simple calculator and in this, one can do simple Addition, substraction, Multiplication, Division.
   </p>
   <h3>Meter converter includes</h3>
   <p>In Meter converter user has to select which converter the user want, it has conversions like meter to centimeter.
   </p>
   <br><br>
</div>
<div class="join">
   Join us By
   <br>
   <a href="https://www.facebook.com/">
      <img src="fb.png" height="35" width="35">
   </a>
   <a href="https://twitter.com/?lang=en">
      <img src="twi.png" height="35" width="35">
   </a>
   <a href="https://www.instagram.com/">
      <img src="insta.jpeg" height="35" width="35">
   </a>
</div>
<div class="web">
   Web Developers
</div>