.body{
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(/assets/4.jpg);

}
.cc
{
  text-align: left;
  align-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.calc
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.part{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}