<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
<div class="body">
  <h2 style="text-align: center;">About Us</h2>
  <hr color="red" width="12%" size="5">
  <p>Our project is based on converter, which can be accessed by all age groups and We give you the power of our most up
    to date, reputable currency information and offer you secure, reliable, easy to use products and services dedicated
    to making your life easier.</p>
  <div>Our calculators take only seconds to use and give you precisely the numbers you need.</div>

  <p>This project includes!</p>
  1. Currency Converter <br>
  2. Calculator <br>
  3. Meter Converter <br>
  <br><br>
  <!-- first card -->
  <div class="card mb-3" class="zoom"
    style="width: 950px; height:300px ; margin-left: 15px; background-color: rgb(190, 240, 228)">
    <div class="row no-gutters">
      <div class="col-4">
        <img src="/assets/bg2.jpg" width="200" height="285" style="padding: 15px" class="card-img" alt="...">
      </div>
      <div class="col-8">
        <div class="card-body">
          <b>
            <h3 class="card-title" style="text-align: center; ;">Currency Converter</h3><hr color="red" width="12%" size="5">
          </b>
          <p class="card-text">In currency converter user has to select which conversion they want, it can be coverted
            from Rupee to Dollars. And
            we guide savers and spenders through the next steps of their financial journey. Whether you’re buying a
            home,
            paying off a loan or saving up for college, we offer free tools and resources to help you reach your goals.
            If you're not careful, currency conversion fees can cost more than you expect. To get the best bang for your
            U.S.
            dollar abroad, update your knowledge of currency exchange.
            Simply input your amount in the currency calculator above, select your source and destination currency and
            our
            tool will convert your currency at the mid-market rate (that’s the one you’ll find on Google).</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <!-- second card-->
  <div class="card mb-3" class="zoom"
    style="width: 950px; height:300px ; margin-right: 18px; background-color: rgb(190, 240, 228) ">
    <div class="row no-gutters">
      <div class="col-4">
        <img src="/assets/bg1.jpg" width="200" height="285" style="padding: 15px" class="card-img" alt="...">
      </div>
      <div class="col-8">
        <div class="card-body">
          <b>
            <h3 class="card-title" style="text-align: center;">Calculator</h3><hr color="red" width="12%" size="5">
          </b>
          <p class="card-text"> This includes simple calculator and in this, one can do simple Addition, substraction,
            Multiplication, Division.
            Calculator's sole focus is to provide fast, comprehensive, convenient, free online calculator in a plethora
            of areas.<br>Our goal is to become the one-stop, go-to site for people who need to make quick calculations.
            Additionally,
            we believe the internet should be a source of
            free information. Therefore, all of our tools and services are completely free<br>
            We coded and developed each calculator individually and put each one through strict, comprehensive testing.
            However, please inform us if you notice even the slightest error – your input is extremely valuable to us.
            Right now we Are availaible with 3 Calculators We will Built other calculator Website As soon as Possible.
          </p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>

  <br><br><br>
  <!-- third card-->
  <div class="card mb-3" class="zoom"
    style="width: 950px; height:300px ; margin-left: 15px; background-color: rgb(190, 240, 228) ">
    <div class="row no-gutters">
      <div class="col-4">
        <img src="/assets/10.jpeg" width="200" height="285" style="padding: 15px" class="card-img" alt="...">
      </div>
      <div class="col-8">
        <div class="card-body">
          <b>
            <h3 class="card-title" style="text-align: center;">Unit Converter</h3><hr color="red" width="12%" size="5">
          </b>
          <p class="card-text"> The main purpose of this website is to provide a comprehensive collection of free online
            unit converters for the
            ease of public use.
            This unit conversion tool is used to transform from one unit to another of a similar kind.
            User has to insert value, it has conversions like milimeter to
            centimeter,centimeter to meter, meter to kilometer, inch to feet and feet to yard.
            Units of measurement were one of the earliest tools developed by humans and records go back to the 4th to
            3rd millenia BC from places like Egypt and the Indus valley.
          </p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="cr">

    <br><br><br> Join us by
    <a href="https://facebook.com/ "><img src="/assets/4.png " height="30" width="30"></a>&nbsp;
    <a href="https://twitter.com/ "><img src="/assets/5.png " height="30" width="30"></a>&nbsp;
    <a href="https://instagram.com/"><img src="/assets/6.png" height="30" width="30"></a>

    <br><br> &copy;2021 Web Developers <br> All Rights Reserved
    <br><br>

  </div>