h2{
    font-family:monospace;
    font-weight: bolder;
    text-align: center;
}
.main{
    text-align: left;
    font-family: cursive;
    background-image: url("9.jpeg");
    color: white;
    font-size: large;
}
.join{
    text-align: center;
}
.web{
    text-align: center;
}