.main{
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(rgb(251, 165, 95),rgb(248, 238, 238),rgb(238, 118, 81));
    font-size:large;  
    text-align: center;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20% ;
}
hr{
    width: 50%;
    height: 15%;
    color: #000;
}
.input{
    text-align: left;
    padding-top: 2%;
   margin-left: 40%;
}
.ans{
    align-content: left;
    width: 400px;
    height: 50px;
    margin-left: 28%;
    margin-bottom: 20px;
    margin-top: 45px;
    border: 2px solid #070707;
    background-color: whitesmoke;
} 