<div class="main">
    <form>
        <div class="form-group">
            <br>
            <label> &nbsp;&nbsp; Email :</label>
            <input type="text" placeholder="Enter Email" class="form-control" formControlName="email">
        </div>

        <div class="form-group">
            <label>&nbsp;&nbsp; Password :</label>
            <input type="text" placeholder="Enter Password" class="form-control" formControlName="password">
        </div>

        <div class="part">
            <br><button type="submit " class="btn btn-primary ">Login</button><br>
            <br>Don't have an account ?
            <a href="signup" routerLink="/signup">Signup</a><br><br>

            <br> Join us by
            <a href="https://facebook.com/ "><img src="/assets/4.png " height="30" width="30"></a>&nbsp;
            <a href="https://twitter.com/ "><img src="/assets/5.png " height="30" width="30"></a>&nbsp;
            <a href="https://instagram.com/"><img src="/assets/6.png" height="30" width="30"></a>

            <br><br> &copy;Web Developers.2021 All Rights Website

        </div>
    </form>
</div>