<div class="main">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<marquee>
  <span class="material-icons">
    calculate
    </span>
  Converter
</marquee>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" style="font-size: medium;">
  <div class="navbar-header">
  </div>
  <ul class="nav navbar-nav">
    <li><a routerLink="login">LOGIN</a></li>
    <li><a routerLink="signup">SIGN-UP</a></li>
    <li><a routerLink="about">ABOUT</a></li>
    <li><a routerLink="calc">CALCULATOR</a></li>
    <li><a routerLink="currency">CURRENCY</a></li>
    <li><a routerLink="unit">UNIT</a></li>
    <li><a routerLink="login">LOGOUT</a></li>

  </ul>
  <div class="searchbar">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
    </form>
  </div>
</nav>
</div>
<router-outlet></router-outlet>