.main{
	margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(rgb(251, 165, 95),rgb(248, 238, 238),rgb(238, 118, 81));
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1100px;
    height: 650px;
}

h1{
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding: 20px 1em;
	font-weight: bold;
	margin-left: 25%;
	margin-right: 25%;
	cursor: pointer;
}

fieldset{
	
    width:70%;
	margin: auto;
	text-align: center;
	font-size: 15px;
	font-family: lato,sans-serif;
}

input[type=number],[id]{

	border: 1px solid #000;
	border-radius: 2px;
	border-width: 2px;	
	font-size: 15px;
	margin: 5px;
	padding: 12px;
	display: inline-block;
}
label{
	font-weight:bold;
	border: 2px solid #000;
	font-size:20px; 
	font-family: Times New Roman;
}

input[type=Convert]{
    width: 95px;
	height: 43px;
	font-weight: bold;
}

input[type=button]{
    width: 95px;
	height: 43px;
	font-weight: bolder;
}

input[type=reset]{
    width: 95px;
	height: 43px;
	font-weight: bolder;
}
.header-style{
    text-align: center;
    border: 1px;
    border-bottom: solid;
}