<div class="main">
    <script>

        function currencyConverter(valNum) {

            if (converter.rupees.value <= 0)
                window.alert("Enter Value Greaterthan 0");
            else {
                document.getElementById("dollar").value = (valNum / 74).toFixed(2);
                document.getElementById("euro").value = (valNum / 87).toFixed(2);
                document.getElementById("cdollar").value = (valNum / 59).toFixed(2);
                document.getElementById("hkdollar").value = (valNum / 9.5).toFixed(2);
                document.getElementById("mpeso").value = (valNum / 3.6).toFixed(2);
            }
        }
    </script>
    <h1 class="header-style">Currency Converter</h1>

    <form name="converter">


        <fieldset>

            <label> &nbsp; IND Currency ( Rupees ) : &nbsp; </label>

            <input type="number" [(ngModel)]="inputNumber" name="rupees" required><br><br>

            <label>&nbsp;Dollar ( American ) : &nbsp; </label>

            <input id="dollar" [(ngModel)]="objConverter.Dollar" [ngModelOptions]="{standalone: true}"><br><br>

            <label>&nbsp;Euro ( Spain ) :&nbsp; </label>

            <input id="euro" [(ngModel)]="objConverter.Euro" [ngModelOptions]="{standalone: true}"><br><br>

            <label>&nbsp;Canadian Dollar ( Canada ) : &nbsp;</label>

            <input id="cdollar" [(ngModel)]="objConverter.CanadianDo" [ngModelOptions]="{standalone: true}"><br><br>

            <label>&nbsp;Hongkong Dollar ( Hongkong ) :&nbsp; </label>

            <input id="hkdollar" [(ngModel)]="objConverter.HongkongDo" [ngModelOptions]="{standalone: true}"><br><br>

            <label>&nbsp;Peso ( Mexico ) :&nbsp; </label>

            <input id="mpeso" [(ngModel)]="objConverter.Peso" [ngModelOptions]="{standalone: true}"><br><br>
            <input type="button" value="Convert" (click)="currencyConverter()">
            &nbsp;&nbsp;
            <input type="reset" value="Reset Form">
            <br>
        </fieldset>
    </form>
</div>