.main{
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(rgb(236, 231, 162),rgb(185, 230, 212),rgb(53, 165, 245));
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 480px;
    border: 8px solid;
    border-color:rgb(0, 0, 0);
    font-size: 110%;
}
.part{
    text-align: center;
}
